html {
    scroll-behavior: smooth;
}

body {
    background-color: #4A4A4A;
}

#navBar {
    justify-content: center;
    background-color: #e8e8e8;
}

#invisible {
    visibility: hidden;
}

#footer {
    color: white;
}

.bottomLink {
    text-decoration: none;
}

.copy {
    padding-top: 0.5rem;
    color: white;
}